@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #183b56;
}

header{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #cbe9ff;
    box-shadow: 0 0 4px #bbd0e2;
    padding: 10px 20px;
    width: 100%;
    top: 0;
    z-index: 100;
    right: 0;
    left: 0;
    transition: 0.3s;
}

#user{
    font-size :2rem;
    font-weight: 500;
   
    color: rgb(2, 2, 39);
}

.loaderClass {
    margin-top: 10px;
    border: 12px solid #cbe9ff;
    border-top: 12px solid  #cbe9ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: SpinLoader 2.5s linear infinite;
 }

 .loaderClass img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: LogoModify 2.5s linear infinite;
 }

 @keyframes SpinLoader {
    0% {
       transform: rotate(0deg);
    }
    100% {
       transform: rotate(360deg);
    }
 }
 @keyframes LogoModify {
    0% {
       transform: rotate(360deg);
    }
    100% {
       transform: rotate(0deg);
    }
 }

.nav-links>li>a:hover {
    color: rgb(23, 44, 230);
    cursor: pointer;
}

.search-bar input {
    width: 200px;
    height: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-bar button {
    background-color: #2294ed;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    width: 20px;
    height: 3px;
    background-color: #183b56;
    margin: 2px 0;
    border-radius: 5px;
    transition: 0.4s;
}

.main>img{
    position: relative;
    background-color:rgb(245, 240, 240) ;
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    opacity: 1;
}

.main>img:hover{
    opacity: 0.6;
}

.main-text{
    position: absolute;
    color: white;
    top: 100px;
    text-align: center;
    padding: 20px;
}

.socialmediapressure>img{
    float: right;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin-left: 20px;
}

.informationoverload>img{
    float: left;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin-right: 20px;
}

.clear{
    clear: both;
}

/*  footer */
.footer-row {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 60px 20px;
    margin-top: 600px;
}

.footer-row p {
    color: grey;
}

.footer-row li {
    color: grey;
}

.first {
    width: 250px;
}

.footer-row li {
    list-style: none;
}

@media screen and (max-width: 1026px) {
    header{
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .nav-links {
        margin-top: 10px;
        text-align: center;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5px;
    }

    .search-bar {
        margin-top: 10px;
        padding: 5px;
    }

    .search-bar input {
        padding: 4px 8px;
    }

    .search-bar button {
        padding: 4px 8px;
    }

    .main-text{
        size: 0.1px;
        color: white;
    }

    .footer-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 15px;
        margin-top: 40px;
    }

    .footer-row .first {
        width: 100%;
        margin-bottom: 20px;
    }

    .second,
    .third {
        margin-top: 20px;
    }

    .footer-row ul {
        padding: 10px;
    }

    .footer-row li {
        margin-bottom: 10px;
    }

}


@media screen and (max-width: 1026px) {
    .nav-links {
        display: none;
    }
    .search-bar {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .hamburger.active {
        display: flex;
        flex-direction: column;
        .nav-link{
            display: contents;
        }
        .search-bar{
            display: contents;
        }
    }
    .search-bar.active {
        display: flex;
    }
}
.nav_item:hover{
    transform: scale(1.05);
    color: rgb(5, 5, 36);
    font-weight: 600;
}
.btn:hover{
    transform: scale(1.05);

}
.btn{
    background-color:rgb(11, 11, 70) ;
    color: white;
}
body {
    background-color: rgb(2, 1, 11);
}
.iol{
    color: white;
}
.iol:hover{
    color: rgb(15, 115, 198);
}
.footer-container{
    position: relative;
   align-content: bottom;
}
.lg:hover{
   transform: scale(1.1);
}
html {
    scroll-behavior: smooth;
}
.btnoh:hover{
    transform: scale(1.2);
}